header{
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 8px;
}

.headerTbl{
    margin-top: 5em;
}

.headerNav{
    float: right;
    padding-right: 1%;
}
.headerNav li{
    display: inline-block;
    padding-right: 11px;
    border-right: 1px solid #E7E4DC;
    padding-left: 11px;
    color:white;
}

.banner{
    height:55px;
}


#logo{
    background-color: #326295;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -13px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 40px
}


nav{
    width: 80%;
    margin-left: 5em;
    margin-top: -.6em;
    position: fixed;
    top: 79px;
    z-index: 100;
    border-bottom: 1px solid black;

}

nav ul{
    margin: -3px -10px 0px 0px;
    padding: 18px 0px;
    background-color: cadetblue;
    list-style-type: none;
    text-align: center;
}

ul li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid black;
    
}



ul li:nth-child(7){
    border-right: none; 
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    text-decoration: none;
    color: white;
}


/*
nav ol {
    margin: auto;
    padding: 0.95em;
    padding-top: 1.3em;
    font-size: 1em;
}

nav a, nav a:visited {
    color: #90D4ED;
    text-decoration: none;
}

nav ol li:hover {
    background-color: #137731;
    padding-bottom: 0.75em;
}

nav ol li {
    padding: 0.7em;
    display: inline;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16pt;
}


nav ol li.active {
    background-color: #6CCA80;
    padding-bottom: 0.8em;
}

*/


/* login */







/* Add styles to the form container */
.login{
  margin-top: 8em;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10em;
  
  
  background: #fff;
  width: 90%;
  max-width:25em;
  position:relative;
  padding: 0em;
  text-align: center;
}


#squad input[type=submit]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
 
}

#index input[type=submit], #createAccount input[type=submit]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
 
}




#createAccount input[type=text] ,#createAccount input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}


#index input[type=text] ,#index input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}



#index input[type=text]:placeholder {
  color: #cccccc;
}




#index{
  background-image: url("./img/ronaldo.png");
  background-repeat: no-repeat;
  background-size: 50%; 
  background-position: right;
  background-color: #56baed;
  background-position-y: 4em;
 
  
}

.loginh{
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
}


#createAccount{
    background-color: #56baed;

}

#createAccount input[type=text], #createAccount input[type=password]{
    padding: 0.9375em 0.9375em;
}
#createAccount .login{
     margin-left: 25em;

}

#squad form{
    margin-top: 9em;
}

.squad{
    margin-top: 9em;
}



#squad input[type=text] {
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 3px 3px #183661;
    border-radius: 3px;
    padding: 1em;
    outline: none;

}

#squad input[type=number] {
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 3px 3px #183661;
    border-radius: 3px;
    padding: 1em;
    outline: none;

}
#squad legend{
    color: white;
    font-size: 1.3em;
}


#squad legend{
    color: white;
    font-size: 1.3em;
}

#squad fieldset{
  /*! border: 4px ridge lightgrey; */
    clear: both;
    padding: 1em;
    float: right;
    margin-top: -20em;
}


.text-field{
    display: block;
    float: left;
    margin: 0 0 1.2em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    text-align: right;
    width: 7em;
    color:white;
}


.listbox{
    box-sizing: border-box;
  
    /*! box-shadow: 3px 3px #183661; */
    border-radius: 3px;
    padding: 1em;
    outline: none;
    color:white;


}
#position{
   box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 3px 3px #183661;
    border-radius: 3px;
    padding: 1em;
    outline: none;

}


#squad{
    background: url("../img/stadium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


fieldset{
    border:none;
}


/* PlayersCatalog*/
.padjust{
    margin-top: -.25em;
}


/* Players */


#playersCatalog form{
    margin-top: 7em;
    text-align: center;
    
        
}

#playersCatalog input[type=text]{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 3px 3px #183661;
    border-radius: 3px;
    padding: 1em;
    outline: none;
    
}

#playersCatalog legend{
    color: black;
}

.playersTbl {
    margin-top:7em;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.playersTbl td, .playersTbl th {
    text-align: center;
    padding: 8px;
}

.playersTbl td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.playersTbl thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.playersTbl thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.playersTbl tr:nth-child(even) {
    background: #F8F8F8;
}


.playersTbl tr th {
    color: #ffffff;
    background: #4FC3A1;
}


.playersTbl tr th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.playersTbl tr:nth-child(even) {
    background: #F8F8F8;
}

.playersTbl tr:nth-child(odd) {
        background: none;
    }
    .playersTbl tr:nth-child(even) {
        background: transparent;
    }
    .playersTbl tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .playersTbl tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    
/* side bar */

.homesection{
    float: right;
    width: 70%
}

.small{
    width:200px;
}

.homesection h4{
    margin-top:8em;
}
.sidebar {
    float: left;
    width: 20%;
    background-color: #226089;
    color: white;
    margin-top: 3em;
}
.sidebar h2{
border-bottom: 2px solid orangered;
padding: .5em;
font-size: 1.4em;
background: #113f67;
box-shadow: 3px 3px green;
    margin-left: -2em;
}

.sidebar img{
    width: 200px;
    height: 200px;
    margin-left: -4em
}



.sidebar2 {
    float: right;
    margin-right: .1%;
    width: 20%;
    background-color: #226089;
    color: white;
    margin-top: -42.8em;
}
.sidebar2 h2{
border-bottom: 2px solid orangered;
padding: .5em;
font-size: 1.4em;
background: #113f67;
box-shadow: 3px 3px green;
    margin-left: -2em;
}

.sidebar2 img{
    width: 200px;
    height: 200px;
    margin-left: -4em
}


#home nav{
    width: 55%;
margin-left: 17em;
margin-top: -.6em;
position: fixed;
top: 79px;
z-index: 100;
border-bottom: 1px solid black;
}

#home {
    background-color: cadetblue;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top:5em;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


header li a{
    color:white;
    text-transform: capitalize;
}

header li a:hover{
    color:black;
    text-transform: capitalize;
}



.tblHome td{
    color:white;
    font-size: 1.5em;
    padding-right:.5em;
    border-bottom:1px solid white;
    border-right: 1px solid white;
    
}


.tblHome{
    margin-left: 2em;
    border:1px solid whitesmoke;
}

.homeh4{
    color: white;
    text-transform: capitalize;
    font-size: 1.2em;
    margin-left: 7em;
    text-decoration: underline;
    
}

#playersCatalog{
    background-color: cadetblue;
    color: white;
    font-size:1.3em;
    
    
}

#playersCatalog table{
    color:black;
}


#playersCatalog table{
    color:black;
}

#playersCatalog tr:hover{
  color:darkcyan;
  border:1px solid;
}


#squad p{
    color:white;
}

#playerPack form{
    margin-top:7em;
}

#playerPack{
    background: cadetblue;
}

#playerPack form{
    margin-top:7em;
}

#playerPack .listbox2{
    color:blue;
    box-sizing: border-box;
  
    /*! box-shadow: 3px 3px #183661; */
    border-radius: 3px;
    padding: 1em;
    outline: none;
    color:white;
    font-size:1.3em;
    
    
}

#player{
    box-sizing: border-box;
border: 2px solid #C2C2C2;
box-shadow: 3px 3px #183661;
border-radius: 3px;
padding: 1em;
outline: none;
}



#playerPack h4{
  color: green;
  font-size: 1.3em;
}

.lost{
    color: red;
}

.tblPlayerPack{
  color:white;
  font-size:1.3em;


}

.tblPlayerPack td{
  border:2px solid white;
  padding:.5em;
  background-color: lightsteelblue;
}

.tblPlayerPack th{
  border:2px solid white;
}


.tblPlayerPack tr th {
    color: #ffffff;
    background: #4FC3A1;
}


.tblPlayerPack tr th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}



#playerPack .tblPlayerPack{
  float:right;
  margin-top:-10em;

}

#playersCatalog input[type=submit], #playerPack input[type=submit]{
    padding: .5em;
    
}







